{% extends 'index.html' %}
{% block title %}Help{% endblock %}
{% block page_title %}How to Use the Cafe Website{% endblock %}
{% block body %}
<div class="col-sm-10 col-md-8">
<p> Begin by typing in the customer's name. It should appear in the drop down list, where upon you can use <kbd>tab</kbd> to select the customer's name and hit <kbd>enter</kbd> to populate the field.</p>
<p>Then, depending on what the customer would like to order, select the necessary items by clicking on the checkbox next to their name and edit the quantity to the right of the entry as needed.</p>
<p>Finally, hit the "Submit Order" button to finalize the transaction. The change to be given from a $5, $10, and $20 bill will be shown on the side, along with the amount the customer owes.</p>
<p>Make sure to write a plate or bowl for all kitchen items purchased!</p>
</div>
{% endblock %}